absl-py==0.4.1
astor==0.7.1
fluent-logger==0.9.3
future==0.17.1
gast==0.2.0
grpcio==1.14.2
h5py==2.8.0
Keras==2.1.6
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==2.6.11
matplotlib==2.2.3
numpy==1.14.5
opencv-python==3.4.3.18
ordered-set==3.1
protobuf==3.6.1
PyYAML==3.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==2.5.2
termcolor==1.1.0
Werkzeug==0.14.1
